<mat-toolbar>
  <span>Manage me</span>
  <span class="toolbar-spacer"></span>
  <button mat-raised-button (click)="navigateToProjects()">Projects</button>
</mat-toolbar>
<div class=" task-kanban">
  <div class="example-container">
    <h2>To do <span *ngIf="todo.length > 0"> - {{todo.length}}</span> </h2>

    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[inprogressList]"
      class="example-list" (cdkDropListDropped)="dropOnTodoList($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item.name}}
        <div class="box">
          <button mat-icon-button color="primary" (click)="showTaskDetail(item)">
            <mat-icon>info</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>In progress<span *ngIf="inprogress.length > 0"> - {{inprogress.length}}</span> </h2>

    <div cdkDropList #inprogressList="cdkDropList" [cdkDropListData]="inprogress"
      [cdkDropListConnectedTo]="[todoList, doneList]" class="example-list"
      (cdkDropListDropped)="dropOnInprogressList($event)">
      <div class="example-box" *ngFor="let item of inprogress" cdkDrag>{{item.name}}
        <div class="box">
          <button mat-icon-button color="primary" (click)="showTaskDetail(item)">
            <mat-icon>info</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done<span *ngIf="done.length > 0"> - {{done.length}}</span> </h2>

    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[inprogressList]"
      class="example-list" (cdkDropListDropped)="dropOnDoneList($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.name}}
        <div class="box">
          <button mat-icon-button color="primary" (click)="showTaskDetail(item)">
            <mat-icon>info</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>